.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 400px;
  //   &__title {
  //     font-family: 'Nunito';
  //     font-weight: 800;
  //     font-size: 28px;
  //     line-height: 32px;
  //     color: #000000;
  // }
  &__input {
    padding: 6px;
    border-radius: 10px;
    border: 1px solid lightgrey;
  }
  &__eye-wrapper {
    position: relative;
  }
  &__eye {
    position: absolute;
    right: 140px;
    top: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 10;
    cursor: pointer;
}
}